---
import BaseLayout from "./BaseLayout.astro";
import ModalWindow from "../components/ModalWindow.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<ModalWindow modalId="my-modal-1" img={heroImage} imgAlt={title} />

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <!-- Put this part before </body> tag -->

    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <label for="my-modal-1">
        {
          heroImage && (
            <img
              src={heroImage}
              alt={title}
              class="btn btn-ghost w-full h-80 object-cover"
            />
          )
        }
      </label>
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
  <a href="/projects/1" class="btn btn-ghost my-10 mx-5">
    <svg
      class="h-6 w-6 fill-current md:h-8 md:w-8"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      ><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
      ></path>
    </svg> Projects</a
  >
</BaseLayout>
